<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.friday.mapper.UserRoleMapper">
    <resultMap id="BaseResultMap" type="com.friday.entity.SysUserRole">
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="role_id" jdbcType="INTEGER" property="roleId" />
        <result column="gmt_create" jdbcType="DATE" property="gmtCreate" />
        <result column="gmt_modify" jdbcType="DATE" property="gmtModify" />
    </resultMap>

    <insert id="saveUserRole" parameterType="com.friday.entity.SysUserRole">
        insert into sys_user_role(user_id,role_id,gmt_create) values(#{userId},#{roleId},#{gmtCreate})
    </insert>

    <update id="updateUserRole" parameterType="com.friday.entity.SysUserRole">
        update sys_user_role
        <set>
            <if test="roleId!=null || roleId!=''">
                role_id=#{roleId},
            </if>
            <if test="gmtModify!=null || gmtModify!=''">
                gmt_modify=#{gmtModify}
            </if>
        </set>
        where user_id=#{userId}
    </update>

    <delete id="deleteUserByUserId" parameterType="integer">
        delete from sys_user_role where user_id=#{id}
    </delete>

    <select id="selectByRoleId" parameterType="integer" resultMap="BaseResultMap">
        select * from sys_user_role where role_id = #{id}
    </select>
</mapper>